{% extends "dingos/grappelli/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% endblock content %}


{% block javascripts %}
{{ block.super }}
<script data-main="{% static 'js/app/' %}" src="{% static 'js/require.js' %}"></script>
<script src="{% static 'js/ace/ace.js' %}"></script>
<script src="{% static 'js/jsonlint.js' %}"></script>
<script src="{% static 'js/mantis_authoring.js' %}"></script>
{% endblock javascripts %}

{% block extrastyle %}
<link href="{% static 'css/dingos_authoring.css' %}" rel="stylesheet">
{% endblock extrastyle%}

